@import "../../app.scss";

.portfolioExp {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;

    @include mobile {
      padding-top: calc(100vh - 100px);
      font-size: 24px;
    }
    .experience {
      @include mobile {
        display: none;
      }
      display: none;
    }

    .progressBar {
      height: 10px;
      background-color: white;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        gap: 25px !important;
      }

      .imageContainer {
        display: flex;
        flex-direction: column;
        gap: 24px;
        flex: 1;
        height: 50%;
        align-items: center;
        @include mobile {
          width: 100%;
          max-height: 180px !important;
          padding-top: 16px !important;
        }
        h1{
            @include mobile {
                font-size: 24px;
              } 
        }
        img {
          width: 100%;
          height: 90%;
          object-fit: cover;

          @include mobile {
            object-fit: contain;
          }
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-grow: 2 !important;
        flex-direction: column;
        gap: 24px;

        @include mobile {
          transform: none !important;
          padding: 10px;
          align-items: center;
          text-align: center;
        }

        h2 {
          font-size: 72px;

          @include mobile {
            font-size: 20px;
          }
        }

        p {
          color: gray;
          font-size: 20px;

          @include mobile {
            font-size: 16px;
          }
        }
        ul {
          color: gray;
          font-size: 20px;

          @include mobile {
            font-size: 18px !important;
            padding: 0;
            margin: -18px !important;
          }

          li {
            margin-bottom: 16px;
            @include mobile {
              margin-bottom: 12px;
              font-size: 16px;
              padding: 0 30px 0 30px;
            }
          }
          li:first-of-type {
            font-size: 22px;
            font-weight: 600;
            list-style: none;
            // border-bottom: 2px solid ;
            @include mobile {
              font-size: 18px;
              font-weight: 600;
            }
            
          }
          li:nth-child(2) {
            font-size: 22px;
            font-weight: 600;
            list-style: none;
            
            @include mobile {
              font-size: 18px;
              font-weight: 600;
            }
            span{
                border: 2px solid #01052b ;
                border-radius: 10px;
                padding: 5px 8px 5px 8px;
                color: #01052b;
                background-color: white;
            }
          }
           
        }
        .techstack {
          display: flex;
          // align-items: stretch;
          justify-content: stretch;
          gap: 14px;
          flex-wrap: wrap;

          @include mobile {
            padding: 0 30px 0 30px;
            padding: 0 30px 0 30px;
            align-items: center;
            justify-content: center;
            width: 100%;
          }
          .chip {
            background-color: orange;
            border: none;
            border-radius: 10px;
            padding: 10px;
            max-width: 120px;
            cursor: pointer;
            color: #01052b;
            font-weight: 600;
          }
        }
      }
    }
  }
}
